{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>
            Lorem Ipsum
            <small>
                refresh the page to get new words
            </small>
        </h1>
        <div class="well">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga delectus hic, perferendis, similique voluptatum cum. Deleniti sequi non facere quibusdam sed eos quod sit velit minima, vel, eius quidem perspiciatis.
        </div>
    </div>
{% endblock %}
